html, body {
    height: 100%;
    width: 100%;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

#page1 {
    background-color: #98ddca;
}
#page2 {
    background-color: #d5ecc2;
}

#page3 {
    background-color: #ffaaa7;

}

#page4 {
    background-color: #ffd3b4;
}

#page1-title {
    width: 100%;
    position: absolute;
    top: 45%;
    left: auto;
    right: auto;
    text-align: center;
    color: white;
    font-family: Saira,sans-serif;
}

#social-container {
    text-align: center;
    margin-top: 15%;
}

h1 {
    font-family: Saira,sans-serif;
    font-size: 65px !important;
    color: white;
}

.social {
    padding-top: 10px;
    color: white !important;
}

.social-link {
    color: #ff8d1c;
}

.active {
    border-style: solid;
    border-bottom-color: white;
    border-bottom-width: 7px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

#navbarText {
    margin-left: 10%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    cursor: pointer;
}

@media (max-width: 768px) {
    #page1-title {
        top: 25%;
    }
}